{% extends 'base.jinja2' %}

{% block style %}
  .truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
{% endblock %}

{% block content %}
  <header class="w3-container w3-deep-orange">
    <h3>Jobs ({{jobs | length }})</h3>
  </header>

  <div class="w3-container w3-panel w3-white">
    <p>
      <table class="w3-table">
    <thead>
      <th>ID</th>
      <th>Start time</th>
      <th>Status</th>
      <th>Nodes</th>
      <th>Name</th>
      <th>User</th>
      <th>Output</th>
      <th>Error</th>
      <th>Tasks/Nodes</th>
      <th>Action</th>
    </thead>
    <tbody>
      {% for job_id, detail in jobs.items() %}
        <tr>
          <td>{{ job_id }}</td>
          <td>
            {% if detail['job_state'] not in ['PENDING', 'CANCELLED']  %}
              {{ nice_time(detail['start_time']) }}
            {% endif %}
          </td>
          <td>{{ detail['job_state'] }}</td>
          <td>{{ detail['nodes']}}</td>
          <td>{{ detail['name'] }}</td>
          <td>{{ detail['user_id'] }}</td>
          <td>{{ detail['std_out'] }}</td>
          <td>{{ detail['std_err'] }}</td>
          <td>{{ detail['num_tasks']}}/{{ detail['num_nodes'] }}</td>
          <td>
            <a href="/cancel/{{ job_id }}">Cancel</a> |
            <a href="/detail/{{ job_id }}">View Detail</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
      </table>
    </p>
  </div>

{% endblock %}
